$font: 'Calibri';
$font-bold: 'Calibri Bold';

// Colors
$color-red: #d5101c;
$color-red-border: #a50000;
$color-white: #ffffff;
$color-black: #1c1c1b;
$color-grey: #585858;
$color-grey-low: #f1f1f1;
